/* Container set to flex and wrap */
.container {
    display: flex;
    flex-wrap: wrap;
}

.removeGrid {
    display: flex;
    flex-wrap: wrap;
}

/* Make grid visible with borders */
.grid {
    border: 2px solid black;
}